<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  	<title><%= @title %></title>
	<link href="/css/styles.css" media="screen" rel="stylesheet" type="text/css" media="screen, projection" />
</head>
<body>
	
	<div id="nav">
		<a href="/">Home</a> | 
		<a href="/list/template">Templates</a> | <a href="/new/template">New Template</a> |
		<a href="/list/subject">Subjects</a> | <a href="/new/subject">New Subject</a> |
		<a href="/list/celebrity">Celebrities</a> | <a href="/new/celebrity">New Celebrity</a>
	</div>
	
  	<%= yield %>

	<div id="debug">
		<p>The time is <%= Time.now.strftime("%I:%M:%S %p") %>.</p>
		<p>Sinatra version <%= Sinatra::VERSION %>.</p>
	</div>
</body>
</html>