<h1><%= @title %></h1>
<form action="/createtemplate" method="post" id="template">
	<p>
		<label>Template:</label><br />
		<input type="text" name="template[text]" id="text" size="100"/>
	</p>
	<p>
		<input type="submit" />
	</p>
</form>
		